.search {
  width: 628px;
  margin: auto;
}

.search__line {
  margin-bottom: 24px;
  border-bottom: 2px solid $color-text;
}

.search__form {
  height: 48px;
  width: 100%;
  margin: 12px 0;
  padding: 0 63px;
  display: flex;
  align-items: center;
}

//Закомментировал, потому то оно ломает scroll режим ( в остальных работает :) )

//.search:focus-within {
//  width: 100%;
//  & .search__line {
//    border-bottom-color: $color-brand;
//  }
//  & .search__clear {
//    display: block;
//  }
//  & .search__form {
//    padding: 0;
//  }
//  & .search__history {
//    display: flex;
//  }
//}

.search__icon {
  width: 34px;
  margin-right: 20px;
  margin-left: 8px;
}

.search__input {
  flex-grow: 1;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  font-weight: 300;
  color: $color-text;
}

.search__clear {
  display: none;
  box-sizing: content-box;
  width: 27px;
  height: 27px;
  margin: 0 10px;
  padding: 0;
  border: none;
  background: center/contain url("../../img/icons/clear-icon.svg");
  cursor: pointer;

  &:hover {
    background: center/contain url("../../img/icons/clear-icon-active.svg");
  }
}

.search__history {
  display: none;
  flex-wrap: wrap;
}

.search__item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  background: $color-tag;
  color: $color-tag-text;
  cursor: pointer;
  &:hover {
    background: $color-tag-active;
  }
}

//Search active

.search_active {
  .search {
    width: 100%;
  }
  .search__line {
    border-bottom-color: $color-brand;
  }
  .search__clear {
    display: block;
  }
  .search__form {
    padding: 0;
  }
  .search__history {
    display: flex;
  }
}

//scroll

.scroll {
  .search__history {
    display: none;
  }

  .search__line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $color-text;
    border-radius: 2px;
    background: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(2px);
  }

  .search__form {
    max-width: 1440px;
    width: 100%;
    padding: 0 80px;
    margin: 12px auto;
  }
}