* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-text;
  background-color: $color-bg;
}

.empty-box {
  flex-grow: 1;
}