//colors
$color-bg: #1C1C1C;
$color-brand: #FDCE25;

$color-text: #FFFFFF;
$color-secondary-text: rgba(255, 255, 255, 0.4);

$color-text-preloader: rgba(255, 255, 255, 0.08);
$color-movie-text: rgba(255, 255, 255, 0.24);
$color-movie-bg: rgba(255, 255, 255, 0.24);;

$color-tag-text: rgba(0, 0, 0, 0.8);
$color-tag: rgba(255, 255, 255, 0.8);
$color-tag-active: #FFFFFF;