@keyframes loader__animation {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.loader__animation div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: loader__animation linear 1s infinite;
  background: $color-brand;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.loader__animation div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: $color-brand;
}.loader__animation div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: $color-brand;
}.loader__animation div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: $color-brand;
}.loader__animation div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: $color-brand;
}.loader__animation div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: $color-brand;
}.loader__animation div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: $color-brand;
}.loader__animation div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: $color-brand;
}.loader__animation div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: $color-brand;
}.loader__animation div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: $color-brand;
}.loader__animation div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: $color-brand;
}.loader__animation div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: $color-brand;
}.loader__animation div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: $color-brand;
}
.loader {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $color-loader-bg;
  transition: 0.5s;
}
.loader_preloader {
  background: $color-bg;
}
.loader_hidden {
  opacity: 0;
}
.loader__animation {
  width: 200px;
  height: 200px;
  position: relative;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loader__animation div { box-sizing: content-box; }
