.search__form {
  width: 628px;
  margin: auto;
}

.search__line {
  width: 100%;
  padding: 12px 63px 18px;
  margin-bottom: 24px;
  border-bottom: 2px solid $color-text;
  display: flex;
  align-items: center;
}

.search__line::before {
  content: url("./img/icons/search-icon.svg");
  width: 34px;
  margin-right: 20px;
  margin-left: 8px;
}

.search__input {
  height: 36px;
  flex-grow: 1;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  font-weight: 300;
  color: $color-text;
}

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: url("./img/icons/clear-icon.svg");
  cursor: pointer;
}

.search__input::-webkit-search-cancel-button:hover {
  content: url("./img/icons/clear-icon-active.svg");
}

.search__history {
  display: flex;
  flex-wrap: wrap;
}

.search__tag {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  background: $color-tag;
  color: $color-tag-text;
  user-select: none;
  cursor: pointer;
  &:hover {
    background: $color-tag-active;
    user-select: none;
  }
}

.search__results {
  margin: 36px 0;
}

//Search active

.search_active {
    width: 100%;
  .search__line {
    padding: 12px 0 18px;
    border-bottom-color: $color-brand;
  }
}

//scroll

.scroll {
  .search__history {
    display: none;
  }

  .search__line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $color-text;
    border-radius: 2px;
    background: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(2px);
  }

  .search__line {
    max-width: 1440px;
    width: 100%;
    padding: 0 80px;
    margin: 12px auto;
  }
}
